@charset "utf-8";

/*リセットCSS（sanitize.css）の読み込み*/
@import url("https://unpkg.com/sanitize.css");

/*Google Fontsの読み込み*/
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&display=swap');

/*全体の設定*/
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    max-width: 950px;
}

body {
	font-family: 'BIZ UDPGothic', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo, Osaka", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;	/*フォント種類*/
	-webkit-text-size-adjust: none;
	color: #eee;
	overflow-x: hidden;
}

/*header*/
header {
	background: white;
	position: relative;
}

/*ロゴ画像*/
header #logo img {display: block;}
header #logo img {
	width: 100%;
	margin: 10px auto;
}

/*見出し*/
h3,h4 {
    padding: 1rem 1rem;
    border-left: 6px double #000;
}
.bold {
    font-weight: bold;
}

/*行間の調整*/
.explain {
    line-height: 25pt;
}

/*下線の追加*/
.blue{
    background: linear-gradient(transparent 65%, #66ccff 60%);
    font-weight: bold;
}
.red{
    background: linear-gradient(transparent 68%, #f40303 60%);
    font-weight: bold;
}

/*問題文全体*/
.ploblem_area_ex{
    font-size: 20px;
    background-color: aliceblue;
    padding-bottom: 20px;
}
.ploblem_area{
    font-size: 20px;
    background-color: aliceblue;
    padding-bottom: 20px;
}

/*table_因数分解の中身の調整*/
table{
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
}

/*プルダウン*/
select {
    outline: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 25px;
    text-align: center;
    background-color: aliceblue;
}

/*プルダウンの位置の微調整*/
.num,.left-num,.right-num{
    width: 28px;
    margin-top: 2px;
}

/*spで正確に表示できるようにz-indexを調整*/
#right-pm,.right-pm,#left-pm,.left-pm{
    z-index: 5;
}
#right-num,.right-num,#left-num,.left-num{
    z-index: 4;
}

/*「例題」と「問題」の微調整*/
#example,.ploblem_number{
    padding-top: 2px;
    padding-left: 5px;
    font-weight: 500;
}

/*ボタンの調整*/
a.btn--blue,
input.btn--blue{
  color: #fff;
  background-color: #394dff;
}
a.btn--blue:hover,
input.btn--blue:hover{
  color: #fff;
  background: #3c66ff;
}

/*正誤判定のボタンのみ右寄せ*/
.button{
    display: flex;
    padding-top: 4px;
}
.item:last-child{
    margin-left: auto;
}
.item:first-child{
    margin-right: 4px;
}

/*explain.htmlの公式と例*/
.pc_view,.sp_view{
    font-size: large;
    background-color: whitesmoke ;
}
.ex{
    font-size: large;
}
table.ex_table{
    margin: auto;
}

/*footer*/  
.footer {
    padding: 2rem;
    font-size: 15px;
    color: #999;
    background: #fff;
    border-top: 1px solid #e5e7eb;
}
.footer a {
    color: #999;
    text-decoration: none;
}  
.footer a:hover {
    color: rgb(71, 70, 70);
}
.footer ul {
    list-style: none;
    padding: 0;
    text-align: center;
}
.footer li {
    display: inline-block;
    width: 8rem;
}
.footer p{
    text-align: center;
}

/*手順の説明ページ：pcとspで表示内容を変更*/
#ex1_sp,.sp_view{
    display: none;
}
#ex1_pc,.pc_view{
    display: block;
    font-size: large;
}
.ex_2 ul {
    list-style: none;
    padding: 0;
    text-align: center;
}
.ex_2 li {
    display: inline-block;
    font-size: large;
}
@media only screen and (max-width: 480px) {
    #ex1_pc,.pc_view{
        display: none;
    }
    #ex1_sp,.sp_view{
        display: block;
        font-size: large;
    }
}

/*モーダルの設定*/
.modalArea {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}  
.modalBg {
    width: 100%;
    height: 100%;
    background-color: rgba(30,30,30,0.9);
} 
.modalWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width: 70%;
    max-width: 500px;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 20px;
}  
.closeModal {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    cursor: pointer;
}